<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="LorealEntities" connectionString="metadata=res://*/DataAccess.LorealDb.csdl|res://*/DataAccess.LorealDb.ssdl|res://*/DataAccess.LorealDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dev8;Initial Catalog=LorealOptimise;Persist Security Info=True;User ID=sa;Password=Password123;Application Name = Loreal;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LorealReports.Properties.Settings.LorealOptimiseConnectionString"
      connectionString="Data Source=dev8;Initial Catalog=LorealOptimise;Persist Security Info=True;User ID=sa;Password=Password123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>