IF object_id('dbo.VersionSnapshot') IS NOT NULL
begin
	drop table [dbo].[VersionSnapshot]
end


CREATE TABLE [dbo].[VersionSnapshot](
	[ID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_VersionSnapshot_ID]  DEFAULT (newid()),
	[IDVersion] [uniqueidentifier] NOT NULL,
	[Division_Name] [nchar](50) NULL,
	[Division_ID] [uniqueidentifier] NULL,
	[SalesDrive_Name] [nvarchar](100) NULL,
	[SalesDrive_Year] [int] NULL,
	[Animation_ID] [uniqueidentifier] NULL,
	[Animation_Name] [nvarchar](100) NULL,
	[Animation_Code] [nvarchar](20) NULL,
	[Animation_SAPDespatchCode] [nvarchar](20) NULL,
	[Animation_DefaultCustomerReference] [nchar](10) NULL,
	[Animation_Status] [tinyint] NULL,
	[Animation_RequestedDeliveryDate] [datetime] NULL,
	[Priority_Name] [nvarchar](50) NULL,
	[Priority_ID] [uniqueidentifier] NULL,
	[AnimationType_Name] [nvarchar](50) NULL,
	[AnimationType_ID] [uniqueidentifier] NULL,
	[Animation_OnCounterDate] [datetime] NULL,
	[Animation_PLVDeliveryDate] [datetime] NULL,
	[Animation_PLVComponentDate] [datetime] NULL,
	[Animation_StockDate] [datetime] NULL,
	[ItemGroup_Name] [nvarchar](50) NULL,
	[ItemGroup_ID] [uniqueidentifier] NULL,
	[ItemType_Name] [nvarchar](50) NULL,
	[ItemType_ID] [uniqueidentifier] NULL,
	[Signature_Name] [nvarchar](50) NULL,
	[Signature_ID] [uniqueidentifier] NULL,
	[BrandAxe_Name] [nvarchar](50) NULL,
	[BrandAxe_ID] [uniqueidentifier] NULL,
	[Category_Name] [nvarchar](50) NULL,
	[Category_ID] [uniqueidentifier] NULL,
	[AnimationProduct_OnCAS] [bit] NULL,
	[MultipleNormal] [int] NULL,
	[MultipleWarehouse] [int] NULL,
	[AnimationProduct_ConfirmedMADMonth] [datetime] NULL,
	[AnimationProduct_StockRisk] [bit] NULL,
	[AnimationProduct_DeliveryRisk] [bit] NULL,
	[AnimationProduct_LogisticsComments] [nvarchar](200) NULL,
	[Product_ID] [uniqueidentifier] NULL,
	[Product_MaterialCode] [nvarchar](20) NULL,
	[Product_Description] [nvarchar](200) NULL,
	[AnimationProduct_BDCBookNumber] [nvarchar](20) NULL,
	[AnimationProduct_SortOrder] [int] NULL,
	[Product_InternationalCode] [nvarchar](20) NULL,
	[Product_EAN] [nvarchar](50) NULL,
	[Product_Status] [nvarchar](50) NULL,
	[Product_Manual] [bit] NULL,
	[ItemType_IncludeInOrders] [int] NULL,
	[Product_ProcurementType] [nvarchar](50) NULL,
	[Product_Stock] [int] NULL,
	[Product_StockLessPipe] [int] NULL,
	[AnimationProduct_ID] [uniqueidentifier] NULL,
	[TotalCapacity] [int] NULL,
	[TotalBDCQuantity] [int] NULL,
	[TotalForecastQuantity] [int] NULL,
	[TotalAllocation] [int] NULL,
	[TotalCIV] [money] NULL,
	[Product_InTransit] [int] NULL,
	[Product_Confirmed] [int] NULL,
	[Product_Reliquat] [int] NULL,
	[Product_MonthDeleveryCurrent] [int] NULL,
	[Product_MonthDelevery1] [int] NULL,
	[Product_MonthDelevery2] [int] NULL,
	[Product_MonthDelevery3] [int] NULL,
	[Product_MonthDelevery4] [int] NULL,
	[Product_MonthDelevery5] [int] NULL,
	[Product_MonthDelevery6] [int] NULL,
	[Product_MonthDelevery7] [int] NULL,
	[Product_MonthDelevery8] [int] NULL,
	[Product_MonthDelevery9] [int] NULL,
	[Product_MonthDelevery10] [int] NULL,
	[Product_MonthDelevery11] [int] NULL,
	[Product_ReceivedToDate] [int] NULL,
	[SalesArea_SalesOrganizationName] [nvarchar](100) NULL,
	[SalesArea_DistributionChannelName] [nvarchar](50) NULL,
	[SalesArea_DivisionName] [nvarchar](50) NULL,
	[SalesArea_Name] [nvarchar](100) NULL,
	[SalesArea_Code] [nvarchar](20) NULL,
	[AnimationProductDetail_ID] [uniqueidentifier] NULL,
	[AnimationProductDetail_RRP] [money] NULL,
	[ListPriceUK] [float] NULL,
	[ListPriceROI] [float] NULL,
	[Product_CostPrice] [money] NULL,
	[AnimationProductDetail_CostValue] [money] NULL,
	[AnimationProductDetail_BDCQuantity] [int] NULL,
	[AnimationProductDetail_ForecastProcQuantity] [int] NULL,
	[AnimationProductDetail_AllocationQuantity] [int] NULL,
	[AnimationProductDetail_MarketingComments] [nvarchar](200) NULL,
	[AnimationProductDetail_TotalCapacity] [int] NULL,
	[AnimationProductDetail_AllocationRemainder] [int] NULL,
	[CustomerGroup_ID] [uniqueidentifier] NULL,
	[CustomerGroup_Name] [nvarchar](100) NULL,
	[CustomerGroup_Code] [nvarchar](50) NULL,
	[CustomerGroup_SalesArea] [nvarchar](100) NULL,
	[CustomerGroup_SalesAreaID] [uniqueidentifier] NULL,
	[CustomerGroup_RetailUplift] [float] NULL,
	[CustomerGroup_ManualFixed] [int] NULL,
	[CustomerGroup_SystemFixed] [int] NULL,
	[CustomerGroup_CalculatedAllocation] [int] NULL,
	[CustomerGroup_TotalCapacity] [int] NULL,
	[CustomerGroup_SaleData] [float] NULL,
	[CustomerGroup_SaleDataMinimumDate] [datetime] NULL,
	[CustomerGroup_SaleDataMaximumDate] [datetime] NULL,
	[Customer_SalesEmployeeName] [nvarchar](50) NULL,
	[Customer_SalesEmployeeID] [uniqueidentifier] NULL,
	[Customer_SalesAreaName] [nvarchar](100) NULL,
	[Customer_SalesAreaID] [uniqueidentifier] NULL,
	[Customer_AccountNumber] [nvarchar](20) NULL,
	[Customer_Name] [nvarchar](200) NULL,
	[Customer_FixedAllocation] [int] NULL,
	[Customer_RetailUplift] [float] NULL,
	[Customer_CalculatedAllocation] [int] NULL,
	[Customer_Capacity] [int] NULL,
	[Customer_ID] [uniqueidentifier] NULL,
	[Customer_SaleData] [float] NULL,
	[Customer_SaleDataMinimumDate] [datetime] NULL,
	[Customer_SaleDataMaximumDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_VersionSnapshot] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[VersionSnapshot]  WITH CHECK ADD  CONSTRAINT [FK_VersionSnapshot_Version] FOREIGN KEY([IDVersion])
REFERENCES [dbo].[Version] ([ID])
GO
ALTER TABLE [dbo].[VersionSnapshot] CHECK CONSTRAINT [FK_VersionSnapshot_Version]