<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
      <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="LorealOptimiseData.Properties.Settings.LorealOptimiseConnectionString" connectionString="Data Source=dev3;Initial Catalog=LorealOptimiseLiveTesting;Persist Security Info=True;User ID=sa;Password=Memos123" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
