<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LorealOptimiseData.Properties.Settings.LorealOptimiseConnectionString"
            connectionString="Data Source=dev8;Initial Catalog=LorealOptimise;User ID=sa;Password=Password123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
