<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--Loreal QA server : \\ukcorpukfil3\install\Software OTHERS\Optimise\TEST -->

    <add name="LorealOptimiseData.Properties.Settings.LorealOptimiseConnectionString"
      connectionString="Data Source=dev8;Initial Catalog=LorealOptimise;Persist Security Info=True;User ID=sa;Password=Password123"
      providerName="System.Data.SqlClient" />

    <!-- Production server -->
    <!--<add name="LorealOptimiseData.Properties.Settings.LorealOptimiseConnectionString"
      connectionString="Data Source=ukcorpukoptplvp;Initial Catalog=LorealOptimise;Persist Security Info=true;user id=optimise;password=optimise1"
      providerName="System.Data.SqlClient" />-->

    <!-- QA server-->
    <!--<add name="LorealOptimiseData.Properties.Settings.LorealOptimiseConnectionString" 
         connectionString="Data Source=ukcorpukoptplv;Initial Catalog=LorealOptimise;Persist Security Info=true;user id=optimise;password=optimise1" 
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>